<section id="login" ng-controller="LoginCtrl">
  <header id="header">
    <h1>todos</h1>
    <div class="alert alert-danger" ng-show="wrongCredentials">
      Wrong Credentials!
    </div>
    <form name="loginForm">
      <input id="user-email" placeholder="your email address" ng-model="user.email" autofocus>
      <input id="user-password" placeholder="password" ng-model="user.password">
      <input id="user-login" type='button' value='Login' ng-click="login(user)">
    </form>
  </header>
</section>
